
.left-coverage {
    background-image: linear-gradient(to right, #01060F, #0D3792);
    background-repeat: no-repeat ;
    background-position: 0% 0%;
    background-size: 100%;
}


.card-coverage {
    width: 20rem;
    height: 25rem;
    border: 0px;
    background-color: transparent;
}

.coverage-map {
    border: 0px;
    min-height: 25rem;
}
