.back-doctor {
    position: absolute;
    width: 100%;
}

.back-methods-container {
    position: relative;
    width: 100%;
    top: -200px;
}

.back-methods {
    position: absolute;
    width: 100%;
    height: 1000px;
    /* background-image:  url("../resources/img/svg/fondo4.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -400px 40%;
    background-size: 600px; */
}

.back-methods-img-right {
    position: absolute;
    width: 20%;
    margin-top: 4rem;
    left: 20rem;
  }
  .back-methods-img-left {
    position: absolute;
    left: 70%;
    width: 20%;
    margin-top: 6rem;
  }

.back-methods .back-img {
    position: relative;
    top: -100px;
    /* left: -30%; */
    /* width: 45%; */
    height: 600px;
}


.img-doctor {
    position: relative;
    top: -50px;
    height: 547px;
}

.img-promise {
    top: 400px;
    position: relative;
    opacity: 0;
    transition: opacity 1s .5s;
}
.img-promise.is-visible{
    opacity: 1;
}

.methods{
    /* background-image:  url("../resources/img/svg/fondo2.svg"), url("../resources/img/svg/fondo1.svg"), linear-gradient(to right, #01060F, #0D3792);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 10% 30%, 90% 55%, 0% 20%;
    background-size: 30%, 25%, 100% ;
    background-attachment: fixed; */
    background-image: linear-gradient(to right, #01060F, #0D3792);
    background-repeat: no-repeat;
    background-position: 0% 20%;
    background-size: 100% ;
    /* background-attachment: fixed; */
}
.card-methods {
    width: 16rem;
    height: 25rem;
    border: 0px;
    background-color: transparent;
}

.carousel-item-customer {
    height: fit-content;
}

.caption-customer{
    position: unset;
}

.customer-img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.controls-customer {
    position: unset;
}

